

<style>
    /* a {
        text-decoration: none;
        color: #000;

    } */

    a:hover {
        text-decoration: none;
        color: #FFC61A;

    }

    .lastface {
        background: #212529;
        padding: 20px;
        margin-top: 10px;
        text-align: center;
    }

    .footer{
		padding: 9px;
		background: #FFC61A;
        text-align: center;
	}
</style>

<div class="pre_footer">
    <div class="container py-xl-4 py-lg-2">
            <h3 class="tittle-c text-center text-white mb-lg-5 mb-sm-4 mb-3">
                <span> Solar Benefits </span>
            </h3>
        <div class="row gallery-index">
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p style="font-family:'SF Pro Text';">
                        One of the biggest benefits of solar panels is that they can provide you substantial
                        savings
                        on your electric bill. Many States require utilities to offer net metering, which allows
                        homeowners to offset their electric costs with the energy their solar panels produce.
                    </p>
                </div><br><br><br>
            </div> 

            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                   <p style="font-family:'SF Pro Text';">
                        While electricity prices continue to get more expensive, the cost of solar
                        has continued to fall. Solar is now cheaper than ever; in fact, the cost has 
                        fallen over 70% in the past decade. These low prices make solar more accessible.
                   </p>
                </div><br><br>
            </div>

            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p style="font-family:'SF Pro Text';">
                        Solar is also a renewable energy source. This means that as you use the resource,
                        it doesn't deplete the source. So, by using the sunlight that hits the earth and
                        turning it into electricity, we don't deplete the sun's energy.
                    </p>
                </div><br><br>
            </div>

            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p style="font-family:'SF Pro Text';">
                        The grid is less vulnerable to blackouts if there are many power plants which 
                        are spread out. A grid with high penetration of solar energy has thousands
                        of energy production centres which are widely spreadout.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="lastface">

    <div class="row">

        <div class="col-md-6">
            <span style="color:antiquewhite; text-align: center;">We are an innovative solar module which <br>
                aim is to provide one-stop solution for <br>
                energy and create a sustainable future. <br> We have cumulatively delivered solar 
                modules to thousands of customers <br> in more
                than 100 countries, enough to meet the clean, green energy needs of approximately <br> 10 million
                households.
            </span><br />
        </div>

        <div class="col-md-6">
            <span style="font-size: 18px; color: antiquewhite; "> Useful Links</span> <br>
            <span style="font-size: 20px; color: antiquewhite; "> 
                <a href="/plants"> <i style="color: antiquewhite;"> Solar plants </i>
                </a> 
            </span>  <br>

            <span style="font-size: 20px; color: antiquewhite; "> 
                <a href="/career"> <i style="color: antiquewhite;"> Career </i>
                </a> 
            </span>  <br>

            <span style="font-size: 20px; color: antiquewhite; "> 
                <a href="/about"> <i style="color: antiquewhite;"> About Us </i>
                </a> 
            </span>  
        </div>

    </div>

</div>

<div class="footer">
    <span style="color:#fff;">solplant</span> 
    <b>|</b> <a href="/policy"> <span style="color:#Fff;">Privacy Policy</span> <b>|</b> </a> 
    <span class="text-muted;"> Copyright &copy All Rights Reserved</span> <b>|</b>
</div>

