

<style>
    /* a {
        text-decoration: none;
        color: #000;

    } */

    a:hover {
        text-decoration: none;
        color: #FFC61A;

    }

    .lastface {
        background: #212529;
        padding: 20px;
        margin-top: 6em;
        text-align: center;
    }

    .footer{
		padding: 9px;
		background: #FFC61A;
        text-align: center;
	}
</style>



<div class="lastface">

    <div class="row">

        <div class="col-md-6">
            <span style="color:antiquewhite; text-align: center;">We are an innovative solar module which <br>
                aim is to provide one-stop solution for <br>
                energy and create a sustainable future. <br> We have cumulatively delivered solar 
                modules to thousands of customers <br> in more
                than 100 countries, enough to meet the clean, green energy needs of approximately <br> 10 million
                households.
            </span><br />
        </div>

        <div class="col-md-6">
            <span style="font-size: 18px; color: antiquewhite; "> Useful Links</span> <br>
            <span style="font-size: 20px; color: antiquewhite; "> 
                <a href="/plants"> <i style="color: antiquewhite;"> Solar plants </i>
                </a> 
            </span>  <br>

            <span style="font-size: 20px; color: antiquewhite; "> 
                <a href=""> <i style="color: antiquewhite;"> Career </i>
                </a> 
            </span>  <br>

            <span style="font-size: 20px; color: antiquewhite; "> 
                <a href="/about"> <i style="color: antiquewhite;"> About Us </i>
                </a> 
            </span>  
        </div>

    </div>

</div>

<div class="footer">
    <span style="color:#fff;">solplant</span> 
    <b>|</b> <a href="/policy"> <span style="color:#Fff;">Privacy Policy</span> <b>|</b> </a> 
    <span class="text-muted;"> Copyright &copy All Rights Reserved</span> <b>|</b>
</div>

