<!Doctype html>
<html lang="en">
  <header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
  

    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/adminstyle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
   
  </header>

  <style>
        body {
            font-family: 'SF Pro Text';
        }

        .navbar-brand {
            display: block;
            text-decoration: none;
            background: none;
            border: none;
        } 

        #navbarcollapse {
            margin-right: 20px;
            text-decoration: none;
        }

        #navbarcollapse ul li {
            margin-right: 40px;

        }

        #navbarcollapse ul li a {
            text-decoration: none;
            color: #000;
        }

        #navbarcollapse ul li a:hover {
            text-decoration: none;
            border-radius: 70px;
            background-color: #7c7c7c;
            border: none;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.14) !important;

        }
  </style>


</html>

<!-- navbarsExampleDefault -->