

  <body>
   
    <nav role="navigation" class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/" style="color:#fff"> 
        <img src="lo22.PNG" class="img-responsive" width="150">
      </a> 
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">

        </span>
        
      </button>
  
      <div id="navbarcollapse" class="collapse navbar-collapse">
  
        <ul class="navbar-nav mr-auto">
              <li><a href="/">HOME</a></li> 
         </ul>
  
        <ul class="navbar-nav navbar-right">
            <li><a href="/plants">SOLAR PLANTS</a></li>
            <li><a href="/commercial">COMMERCIAL</a></li>
            <li><a href="/about">ABOUT US</a></li> 
            <li><a href="/career">CAREER</a></li>
            <li><a href="/contact">CONTACT US</a></li>
        </ul>
  
      </div>
    </nav> 



  

    