

<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ("partials/head") %>

</head>

</html>

<body>

    <%- include ("partials/head") %> 
    <%- include ("partials/nav2") %> 

    <div class="col-md-12" style="text-align: center; padding: 30px; margin-top: 27px;">
        <img width="150px" src="images.png"> <br>

            <span style="margin-bottom: 20px; font-size: 22px; font-family: 'SF Pro Text'">
                    <b> Thank you </b>  <br>
                    Your form has been submitted, please do check your mail. <br> 
                    Someone from our team will contact you soon. <br>
                
            </span>
             
    </div>


    <%- include ("partials/footer2") %>
    

</body>

 