<!DOCTYPE html>
<html lang="en">

<head>  
    <%- include ("../partials/head") %>
</head>

<style>
    ul {
        list-style: none;
    }

    .overview {
        padding: 40px;
        text-align: center;

    }
</style>

</html>

<body>
    <%- include ("../partials/head") %>
    <%-include ("../partials/nav") %>

        <div class="aboutbg"></div>
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                <div class="container">
                    <ul class="my_short">
                        <li>
                            <a style="color: #eee; font-weight: bolder;" href="/">Home</a>
                            <i style="color: #eee;">/</i>
                        </li>
                        <li style="color: #FFC61A; font-weight: bolder;">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="overview">
            <h2 style="color: #FFC61A; font-weight: bold;">OVERVIEW OF THE COMPANY</h2>
            <div class="container">
                <div class="row" style="padding: 30px;">
                    <div class="col-sm-4">
                        <img src="1.png"><br />
                        <div style="font-size:16px; font-weight: bold;">Over 49 <br>GWsolar modules shipped</div>
                        <span style="font-size:15px;"></span>

                        <div class="" style="padding: 44px;">
                            <img src="4.png">
                            <div style="font-size:16px; font-weight: bold;">Over 16 manufacturing facilities</div><br />
                            <span style="font-size:15px;"></span>
                        </div>


                    </div>

                    <div class="col-sm-4">
                        <img src="2.png"><br />
                        <div style="font-size:17px; font-weight: bold;">Module capacity 22.7 GW<br>Cell capacity 13.9 GW
                            <br>until the end of 2021
                        </div>
                        <div style="font-size:15px;"></div>

                        <div class="" style="padding: 17px;">
                            <img src="5.png">
                            <div style="font-size:17px; font-weight: bold;"> Subsidiaries in 23 countries <br>
                                & regions on 6 continents</div><br />
                            <div style="font-size:15px;"></div>
                        </div>

                    </div>

                    <div class="col-sm-4">
                        <img src="3.png">
                        <div style="font-size:17px; font-weight: bold;"> 22.2 GW project pipeline <br>
                            19 GWh energy project pipeline<br>
                            of CSIQ</div>
                        <div style="font-size:15px;"></div>

                        <div class="" style="padding: 17px;">
                            <img src="6.png">
                            <div style="font-size:17px; font-weight: bold;"> Active buying customers<br>
                                in more than 100 countries</div>
                            <div style="font-size:15px;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="about_US" id="">
            <div class="container">
                <div class="center">
                    <div class="left">
                        <img class="img" src="/pfor.jpg" width="100%">
                    </div>
                    <div class="ml">
                        <p class="h1"> BRIEF HISTORY </p>
                        <p class="intro "> Dr. Adan Brian, Chairman, President and Chief Executive Officer founded
                            solplant in 2007, with a bold mission: to foster sustainable
                            development and to create a better and cleaner earth for future generations by bringing
                            electricity powered by the sun to millions of people worldwide. Under Dr. Adan’s leadership,
                            we have grown into one of the world’s largest solar photovoltaic products and energy
                            solutions providers, as well as one of the largest solar power plant developers globally. We
                            have cumulatively delivered over 59 GW of solar modules to thousands of customers in more
                            than 100 countries, enough to meet the clean, green energy needs of approximately 10 million
                            households. We have more than 5,000 dedicated employees to strive each day to make this
                            mission a reality. Customers choose us because we deliver the best-possible value.
                        </p>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>


        <div class="welcome" style="margin-bottom: 40px;">
            <div class="container ">
                <!-- tittle heading -->
                <h4 class="tittle-c" style="color: #FFC61A; font-weight: bold; font-family: 'SF Pro Text';">

                </h4>
                <!-- //tittle heading -->

                <div class="row">
                    <div class="col-sm-6 welcome-left">
                        <h4 class="my-sm-3 my-2" style="font-family: 'SF Pro Text';">
                            Our company goals and corporate values ​​primarily is quality of human resources
                            and to make sure the human
                            resources is in the most efficient manner, we provide professional and
                            personal development training.
                            For the implementation of our management policies in an efficient manner; The basic
                            philosophy of our company executives are all ‘human resources managers’
                            which they ought to be and have
                            adopted. For that purpose, by organizing training courses and seminars with
                            important information about the way we manage our department, we share the responsibilities
                            of the authorities.
                        </h4>
                        <p style="font-family: 'SF Pro Text'; color: #464646;">
                            Our activities is environmentally friendly way without harming nature, we have dealings
                            with all individuals in which thery perform in harmony.
                            Managers and employees are proud to be a member of a reliable, profitable
                            company which is aware of a social responsibility.
                        </p>
                    </div>
                    <div class="col-sm-6 welcome-right-top mt-lg-4 mt-sm-5 mt-4">
                        <img src="/bg1.jpg" class="img-fluid" alt=" ">
                    </div>
                </div>
            </div>
        </div>


        <%- include ("../partials/footer") %>


</body>