<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<style>
    ul {
        list-style: none;
    }

</style>

</html>

<body>
    <%- include ("../partials/head") %>
    <%-include ("../partials/nav") %>

        <div class="combg"></div>
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                <div class="container">
                    <ul class="my_short">
                        <li style="color: #FFC61A; font-size: 20px; font-weight: bolder;">COMMERCIAL PRODUCTS</li>
                    </ul>
                </div>
            </div>
        </div>

        <h4 style="color: #464646; text-align: center; font-weight: bold; margin-top: 20px;">VARIOUS COMMERCIAL MODULES</h4>

        <div class="container">
            <div class="row" style="margin-top: 19px;">
                <div class="col-xs-4">
                    <img width="250px" height="250px" src="c1.png">
                    <img width="250px" height="250px" src="c4.png">
                </div>

                <div class="col-xs-4">
                    <img width="250px" height="250px" src="c2.png">
                    <img width="250px" height="250px" src="c6.png">
                </div>

                <div class="col-xs-4">
                    <img width="250px" height="250px" src="c3.png">
                    <img width="250px" height="250px" src="c5.png">
                    <img width="250px" height="250px" src="c7.png">
                    <img width="250px" height="250px" src="c8.png">
                </div>
            </div>
        </div>

        <div class="com_product">
            <div class="com_center">
                <p class="h1">INVERTERS</p>
                <ul class="li">
                    <li>
                        <div class="img img0">
                            <img style="width: 150px;" src="/862.png">
                            Three-phase String
                            Inverter 20-66 kW
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>

    <%- include ("../partials/footer") %>
    

</body>