<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

</html>

<body>
    <%- include ("../partials/head") %>

    <%- include ("../partials/nav") %>

        <div class="plantsbg"></div>
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                <div class="container">
                    <ul class="my_short">
                        <li>
                            <a style="color: #eee; font-weight: bolder;" href="/">HOME</a>
                            <i style="color: #eee;"> /</i>
                        </li>
                        <li style="color: #FFC61A; font-weight: bolder;">SOLAR PLANTS</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="development">
                <h2 style="color: #FFC61A; font-weight: bolder; margin-bottom: 20px;">WORK DEVELOPMENT</h2>
                <span style="font-size: 18px;">
                    Our team ensures your photovoltaic projects are constructed cost <br>
                    effectively, operate flawlessly and can provide regular operation <br> and maintenance for
                    a most optimal power generation.
                </span>

                <div class="row" style="margin-top: 22px;">
                    <div class="col-md-3">
                        <img src="/p1.png">
                        <p> Standard Quality </p>
                    </div>

                    <div class="col-md-3">
                        <img src="/p2.png">
                        <p> Financial Strength </p>
                    </div>

                    <div class="col-md-3">
                        <img src="/p3.png">
                        <p> In-House Solar </p>
                    </div>

                    <div class="col-md-3">
                        <img src="/p4.png">
                        <p> One Stop Service </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="plant" id="">
            <div class="container">
                <div class="center">
                    <div class="left">
                        <img class="img" src="/pfor.jpg" width="100%">
                    </div>
                    <div class="ml">
                        <p class="h1">A FULL SCOPE OF SOLAR PROJECT SERVICES </p>
                        <p class="intro ">· Defined project scope, concept assessment
                            · Identified site/s and stakeholders
                            · Site and infrastructure assessments
                            · Feasibility study and grid-impact study
                            · Geo-tech and techno-economic assessment
                            · Environmental impact assessment (EIA)
                            · Planning permits and grid-connection approval
                            · Grid impact study (i.e. DigSilent)
                            · Land lease or purchase and PPA</p>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            
        </div>

       


        <%- include ("../partials/footer") %>


</body>