<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/head") %>
</head>

<body>
    <%- include ("../partials/head") %>
        <%- include ("../partials/nav2") %>

            <div class="container" style="font-size: 17px;">
                <h4 class="tittle-c text-center mb-lg-5 mb-sm-3 mb-3"
                    style="color: #FFC61A; font-weight: bolder; font-family: 'SF Pro Text'; ">
                    PRIVACY POLICY
                </h4>
                Last Modified: March 1, 2020 <br>
                The controller of this website is solplant and
                registered office at Harehjellveien 211 1708 Sarpsborg, Norway. This website is for information
                purposes only, and no personal data are collected herein. If personal data are requested on a microsite
                of this website for a specific purpose and/or service, the data subject shall also be informed about all
                elements required by the applicable data protection regulations when the data are collected. <br><br>

                1. Scope <br>
                This Privacy Policy applies to information, including personal information, collected and used by
                solplant and its affiliated companies and subsidiaries. This Privacy
                Policy applies to information we collect on our websites and in email, text, and other electronic
                messages between you and solplant. It does not apply to information collected by us offline or
                through any other means, including on any other website operated by a third-party, or collected by us or
                any of our affiliates or subsidiaries related to you or any other individual’s employment or potential
                employment, or collected by any other third-party, including through any application or content
                (including advertising) that may link to or be accessible from our websites.
                Please read this Privacy Policy carefully to understand our policies and practices regarding your
                information and how we will treat it. If you do not agree with our policies and practices, your choice
                is not to use our websites. By accessing or using our websites, you agree to this Privacy Policy;
                however, if you are based in the EU, when you use our website or interact with us electronically as
                described herein, you may need to authorize solplant to process your personal data within the
                scope of this Privacy Policy. This Privacy Policy may change from time to time (see Changes to this
                Policy). Unless otherwise required by mandatory laws, your continued use of our websites after we make
                changes is deemed to be acceptance of those changes, so please check this Privacy Policy periodically
                for updates. <br><br>

                2. Data Controller, Data Protection Officer, and Representative <br>
                solplant is the data controller of your personal data. solplant has appointed a Data
                Protection Officer and a representative in the European Union in compliance with the General Data
                Protection Regulation. <br><br>

                3. Information collected by solplant <br>
                solplant collect data and information about you such as name, surname, company, contact details,
                email, your request data, and any other data you provide us and /or that will be needed to install our
                business relationship. We also collect information that is about you but does not directly identify you,
                such as your IP address, traffic data, location data, logs, referring/exit pages, date and time of your
                visit to our websites, error information, clickstream data, other communication data, the resources that
                you access and use on the websites, and other information about your internet connection and the
                equipment you use to access our websites.<br>

                The personal data we collect from you is required to enter into a contract with Canadian Solar, for
                solplant to perform under the contract, and to provide you with our products and services and the
                information you request. If you refuse to provide such personal data or withdraw your consent to our
                processing of personal data (when appropriate), then in some cases we may not be able to enter into the
                contract or fulfill our obligations to you under it.<br><br>

                4. Disclosure of Data to Third Parties<br>
                solplant does not sell your information for monetary consideration or otherwise disclose personal
                information about you except as described here or at the time of collection.
                solplant may share personal information within the solplant Group for the purposes described
                in this Privacy Policy.<br>
                solplant may share personal information with service providers solplant has retained to
                perform services on our behalf (such as payment processing, order fulfillment, customer support and data
                analytics). These service providers are contractually required to safeguard the information provided to
                them under terms substantially equivalent to those of this Privacy Policy and are restricted from using
                or disclosing such information except as necessary to perform services on our behalf or to comply with
                legal requirements.<br>
                solplant may share personal information with our joint marketing partners and other business
                partners for the purposes described in this Privacy Policy, and if you agree to share the data with
                them.
                solplant may share personal information about you to a buyer or other successor in the event of a
                merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or
                all of if assets, whether as a going concern or as part of bankruptcy, liquidation, or similar
                proceeding, in which personal information held by solplant about our customers is among the assets
                transferred.<br><br>

                5. Your rights<br>
                Applicable data protection laws may provide you with certain rights with regards to our processing of
                your Personal Data. These may include:<br>
                <b>Access, Update and Rectification.</b> You can review and change your personal data by contacting us
                through
                the Contact Information of any changes or errors in any personal data we have about you to ensure
                that it is complete, accurate, and as current as possible. We may also not be able to accommodate your
                request if we believe it would violate any law or legal requirement or cause the information to be
                incorrect.<br>

                <b>Restrictions.</b> You have the right to restrict our processing of your personal data under certain
                circumstances. In particular, you can request we restrict our use of it if you contest its accuracy, if
                the processing of your personal data is determined to be unlawful, or if we
                no longer need your personal data for processing but we have retained it as permitted by law.<br>

                <b>Portability.</b> To the extent the personal data you provide solplant is processed based on your
                consent and that we process it through automated means, you have the right to request that we provide
                you a copy of, or access to, all or part of such personal data in structured, commonly used and
                machine-readable format. You also have the right to request that we transmit this personal data to
                another controller, when technically feasible.<br>

                <b>Right to be Forgotten.</b> You have the right to request that we delete all of your personal data. If
                you
                have an account, we cannot delete your personal data except by also deleting your user account, and we
                will only delete your account when we no longer have a lawful basis for processing your personal data or
                after a final determination that your personal data was unlawfully processed. We may not accommodate a
                request to erase information if we believe the deletion would violate any law or legal requirement or
                cause the information to be incorrect. In all other cases, we will retain your personal data as set
                forth in this policy. In addition, we cannot completely delete your personal data as some data may rest
                in previous backups. These will be retained for the periods set forth in our disaster recovery
                policies.<br>

                <b>How You May Exercise Your Rights.</b> You may exercise any of the above rights by contacting us
                through any
                of the methods listed under Contact Information below. If you contact us to exercise any of the
                foregoing rights, we may ask you for additional information to verify your identity. We reserve the
                right to limit or deny your request if you have failed to provide sufficient information to verify your
                identity or to satisfy our legal and business requirements. Please note that if you make unfounded,
                repetitive, or excessive requests (as determined in our reasonable discretion) to access your personal
                data, you may be charged a fee subject to a maximum set by applicable law.
                The state or other jurisdiction you live in may provide you with additional rights regarding our use of
                personal data, including the right to receive additional information about our collection and use of
                your personal data. To learn more about any additional rights or to receive any additional information
                that may be applicable to you as a resident of one of these states or jurisdictions, please see the
                privacy addendum for your state or jurisdiction that is listed below and is attached to this Privacy
                Policy.<br><br>

                6. Changes to this Policy<br>
                We may change this Privacy Policy at any time. It is our policy to post any changes we make to this
                Privacy Policy on this page. Please check this privacy policy periodically to inform yourself of any
                change. If we make any material changes to how we treat our users’ personal data, we will notify you via
                email to the email address specified in your account (if you have one) and/or through a notice on the
                websites’ home page. The date this privacy policy was last revised is identified at the top of this
                page. You are responsible for ensuring we have an up-to-date active and deliverable email address (if
                you have an account) and for periodically visiting our websites and this Privacy Policy to check for
                changes. In case of significant changes to this Privacy Policy, we will provide you a notification by
                email. <br><br>

                7. solplant Protection of Information <br>
                solplant has implemented security measures designed to protect all Information collected from
                unauthorized access, maintaining data accuracy and enabling the correct use of Information.
                Unfortunately, the transmission of information via the internet is not completely secure. Although we do
                our best to protect your personal data, we cannot guarantee the security of your personal data
                transmitted to our websites. Any transmission of personal data is at your own risk. We are not
                responsible for circumvention of any privacy settings or security measures used on the websites.<br><br>

                8. Commercial information and minors<br>
                Our websites are intended to provide commercial information and to collect data only from commercial
                operators and it is not intended to be used by minors under 18 years of age. No one under age 18 may
                provide any information to or on the websites. If you are under 18, do not use or provide any
                information on our websites or on or through any of its features. If we learn we have collected or
                received personal data from a child under 18 without verification of parental consent, we will delete
                that information.
            </div>

</body>

</html>
<%- include ("../partials/footer2") %>