
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<style>
    ul {
        list-style: none;
    }

</style>

</html>

<body>
    <%- include ("../partials/head") %>
    <%-include ("../partials/nav") %>

        <div class="resbg"></div>
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                <div class="container">
                    <ul class="my_short">
                        <li style="color: #FFC61A; font-size: 20px; font-weight: bolder;">RESIDENTIAL PRODUCTS</li>
                    </ul>
                </div>
            </div>
        </div>

        <h4 style="color: #464646; text-align: center; font-weight: bolder; margin-top: 20px;">VARIOUS RESIDENTIAL MODULES</h4>

        <div class="container">
            <div class="row" style="margin-top: 19px;">
                <div class="col-md-4">
                    <img width="250px" height="250px" src="r1.png">
                </div>

                <div class="col-md-4">
                    <img width="250px" height="250px" src="r2.png">
                </div>

                <div class="col-md-4">
                    <img width="250px" height="250px" src="r3.png">
                </div>
            </div>
        </div>

        <div class="com_product">
            <div class="com_center">
                <p class="h1">INVERTERS</p>
                <ul class="li">
                    <li>
                        <div class="img img0">
                            <img style="width: 150px;" src="/912.png">
                                Single-phase String 
                                Inverter 0.7-10kw
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>

    <%- include ("../partials/footer") %>
    

</body>